---
layout: workshop
root: .
title: Software Carpentry Workshop for NHS Clinical Bioinformatics
venue: University of Manchester
address: PC Cluster 2 bay D, Stopford Building, Oxford Road, Manchester, M13 9PT
latlng: 53.464141, -2.230779
humandate: 09-10 November 2015
humantime: 09:00-17:00
startdate: 2015-11-09
enddate: 2015-11-10
instructor: ["Aleksandra Pawlik", "Niall Beard", "Ian Dunlop"]
helper: ["TBC"]
contact: "a.nenadic@manchester.ac.uk"
etherpad: https://etherpad.mozilla.org/4EVq4hrQnB
---


<h2>Workshop information</h2>

<p>
    Software Carpentry's mission is to help scientists and engineers become more productive by teaching them basic lab
    skills
    for computing like program design, version control, data management, and task automation.
</p>
<p>
    This workshop is a part of the programming module MEDN68400 for the NHS Clinical Bioinformatics course. During the
    hands-on training sessions we will cover core skills such as effectively working with command line, structured
    software development and version control. The participants will be encouraged to help one another and to apply what
    they have learned to their own research problems.
</p>

<!--<h4 class="jumbotron" style="padding: 10px; margin: 0px 0px 10px 0px;">-->
<!--Register for the workshop-->
<!--<a target="_blank" href="https://www.eventbrite.com/e/elixir-uk-software-data-carpentry-instructor-training-8-9-october-2015-registration-18186909536">via EventBrite</a>.-->
<!--</h4>-->

<p>
    <strong>Date:</strong>
    {{page.humandate}}, {{page.humantime}}
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.

<p>
  <strong>Who:</strong>
  E.g. this workshop is run for the University of Manchester staff and graduate students.
</p>
-->

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
<p>
    <strong>Location:</strong>
    {{page.address}}.
    {% if page.latlng %}
    Get directions with
    <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
    {% endif %}
</p>

<!--
  INSTRUCTORS
-->
<p>
    <strong>Instructors:</strong>
    {% if page.instructor %}
    {{page.instructor | join: ', ' %}}
    {% else %}
    To be announced
    {% endif %}
</p>

<!--
  HELPERS
-->
<p>
    <strong>Helpers:</strong>
    {% if page.helper %}
    {{page.helper | join: ', ' %}}
    {% else %}
    To be announced
    {% endif %}
</p>

<!--
  REQUIREMENTS

  Specify the requirements for the workshop, e.g. software that needs to be pre-installed, etc.
-->
<p>
    <strong>Requirements:</strong> Participants will work on the Software Carpentry Virtual Machines provided by the
    University of Manchester so no setup is required prior to workshop.
    They are also required to abide by the <a target="_blank" href="http://software-carpentry.org/conduct.html">Software
    Carpentry's Code of Conduct</a>.
</p>

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
    <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
    <br/>
    We will use this Etherpad for chatting, taking and sharing notes, URLs and other useful bits.
</p>
{% endif %}

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
    <strong>Contact</strong>:
    Please email
    {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
    {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
    {% endif %}
    for more information.
</p>

<hr/>

<h2> Acknowledgement and support</h2>
<p> This workshop is supported by <a target="_blank" href="http://elixir-uk.org/">ELIXIR-UK.</a></p>

<hr/>

<h2>Schedule</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Day 1, Monday 9th November</h3>
        <table class="table table-striped">
            <tr>
                <td>9:00</td>
                <td>Introduction</td>
            </tr>
	    <tr>
		    <td>9:30</td>
		    <td>Working effectively with command line - part 1</td>
	    </tr>
            <tr>
                <td>10:45</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>Working effectively with the command line - part 2</td>
            </tr>
            <tr>
                <td>12:00</td>
                <td>Lunch break</td>
            </tr>
            <tr>
                <td>13:00</td>
                <td>Version control with Git - part 1</td>
            </tr>
            <tr>
                <td>14:30</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>Version control with Git  - part 2</td>
            </tr>
            <tr>
                <td>16:45</td>
                <td>Wrap-up</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Day 2, Tuesday 10th November</h3>
        <table class="table table-striped">
            <tr>
                <td>09:00</td>
                <td>Command line and Git recap</td>
            </tr>
            <tr>
                <td>09:45</td>
                <td>Introduction to Elab notebooks</td>
            </tr>
            <tr>
                <td>10:00</td>
                <td>Building programs with python - part 1</td>
            </tr>
            <tr>
                <td>10:45</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>Building programs with python - part 2</td>
            </tr>
            <tr>
                <td>12:00</td>
                <td>Lunch</td>
            </tr>
            <tr>
                <td>13:00</td>
                <td>Collaborative work using Git and Github</td>
            </tr>
            <tr>
                <td>14:30</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>Building programs with Python - part 3</td>
            </tr>
            <tr>
                <td>16:45</td>
                <td>Wrap-up</td>
            </tr>
        </table>
    </div>
</div>

<hr>

<h2>Syllabus</h2>

<div class="row">
    <div class="col-md-6">
        <h3>The Unix Shell</h3>
        <ul>
            <li>Files and directories: <code>pwd</code>, <code>cd</code>, <code>ls</code>, <code>mkdir</code>, ...</li>
            <li>History and tab completion</li>
            <li>Pipes and redirection</li>
            <li>Looping over files</li>
            <li>Creating and running shell scripts</li>
            <li>Finding things: <code>grep</code>, <code>find</code>, ...</li>
            <li><a href="http://swcarpentry.github.io/shell-novice/reference.html">Reference...</a></li>
        </ul>

        <!--<div class="alert"><a href="https://github.com/anenadic/2014-11-10-manchester/blob/gh-pages/novice/shell/filesystem/users/nelle/shell-data.zip?raw=true">Download the sample datasets for the Unix Shell class</a></div>-->

        <h4>Lessons</h4>
        <ul>
            <li><a href="http://swcarpentry.github.io/shell-novice/00-intro.html">Introduction</a></li>
            <li><a href="http://swcarpentry.github.io/shell-novice/01-filedir.html">Files and Directories</a></li>
            <li><a href="http://swcarpentry.github.io/shell-novice/02-create.html">Creating things</a></li>
            <li><a href="http://swcarpentry.github.io/shell-novice/03-pipefilter.html">Pipes and Filters</a></li>
            <li><a href="http://swcarpentry.github.io/shell-novice/04-loop.html">Loops</a></li>
            <li><a href="http://swcarpentry.github.io/shell-novice/06-find.html">Finding things</a></li>
            <li><a href="http://swcarpentry.github.io/shell-novice/05-script.html">Shell scripts</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Programming in Python</h3>
        <ul>
            <li>Using libraries</li>
            <li>Working with arrays</li>
            <li>Reading and plotting data</li>
            <li>Creating and using functions</li>
            <li>Loops and conditionals: <code>for</code>, <code>if</code>, <code>else</code>, ...</li>
            <li>Defensive programming</li>
            <li>Using Python from the command line</li>
            <li><a href="http://swcarpentry.github.io/python-novice-inflammation/reference.html">Reference...</a></li>
        </ul>

        <!--<div class="alert"><a href="https://github.com/anenadic/2014-11-10-manchester/blob/gh-pages/novice/python/python-data.zip?raw=true"> Download the sample datasets for the Python class</a></div>-->

        <h4>Lessons</h4>
        <ul>
            <li><a href="http://swcarpentry.github.io/python-novice-inflammation/01-numpy.html">Introduction</a></li>
            <li><a href="http://swcarpentry.github.io/python-novice-inflammation/02-loop.html">Loops</a></li>
	    <li><a href="http://swcarpentry.github.io/python-novice-inflammation/03-lists.html">Lists</a></li>
            <li><a href="http://swcarpentry.github.io/python-novice-inflammation/04-files.html">Files</a></li>
            <li><a href="http://swcarpentry.github.io/python-novice-inflammation/05-cond.html">Branching and conditionals</a></li>
            <li><a href="{{page.root}}/novice/python/xml/xml.html">Working with XML files</a></li>
            <li><a href="http://swcarpentry.github.io/python-novice-inflammation/06-func.html">Functions</a></li>
<li><a href="http://swcarpentry.github.io/python-novice-inflammation/07-errors.html">Errors and exceptions</a></li>
            <li><a href="http://swcarpentry.github.io/python-novice-inflammation/08-defensive.html">Testing your code and quality assurance</a></li>
	<li><a href="http://swcarpentry.github.io/python-novice-inflammation/09-debugging.html">Debugging</a></li>
	<li><a href="http://swcarpentry.github.io/python-novice-inflammation/10-cmdline.html">Running Python from command line</a></li>

        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Version Control with Git</h3>
        <ul>
            <li>Creating a repository</li>
            <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
            <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
            <li>Ignoring files</li>
            <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
            <li>Resolving conflicts</li>
            <li>Open licenses</li>
            <li>Where to host work, and why</li>
        </ul>
        <h4>Lessons</h4>
        <ul>
            <li><a href="http://swcarpentry.github.io/git-novice/index.html">Git tutorial</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Introduction to eLab Notebooks and Integrated Environments</h3>
        <ul>
            <li><a target="-_blank" href="http://ipython.org/notebook.html">IPython Notebook</a></li>
            <li><a target="_blank" href="https://jupyter.org/">Jupyter</a></li>
            <li><a target="_blank" href="https://www.enthought.com/products/canopy/">Enthought Canopy</a></li>
        </ul>
    </div>
</div>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your workshop.
    (In particular, most workshops teach either Python or R, not both.)
-->
<h2>Setup</h2>

<p>
    The participants will be working on the Software Carpentry Virtual Machines setup up on the computers at the
    University's lab.
</p>

{% include setup.html %}
